/* App.css - Version ultra-neutre */
#root {
  width: 100%;
  min-height: 100vh; /* Utilise min-height au lieu de height */
  margin: 0;
  padding: 0;
  background-color: #050505; /* Définit le fond global ici */
  color: #fff;
}

/* Supprime les styles .logo, .card, etc. s'ils ne sont pas utilisés */
