.safeArea {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background: linear-gradient(
    135deg,
    #0ff,
    #f0f,
    #ff0,
    #0f0,
    #f00,
    #00f,
    #ff8800,
    #88ff00,
    #ff0088,
    #0088ff,
    #ff44ff
  );

  background-size: 600% 600%;
  animation: neonGradient 20s ease infinite;

  transition: background 1s ease-in-out;
}

.container {
  max-width: 450px;
  width: 100%;

  background: rgba(17, 24, 39, 0.85);
  backdrop-filter: blur(10px);

  border-radius: 16px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid rgba(255,255,255,0.2);

  box-shadow:
    0 0 10px #0ff,
    0 0 20px #f0f,
    0 0 30px #ff0,
    0 0 40px #0f0;
}

/* animation du gradient */
@keyframes neonGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}